<a href="https://colab.research.google.com/github/carlaseiver/python-pln/blob/main/Aula_2_e_3_Python_para_PLN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Curso de Python para PLN")

Curso de Python para PLN

Parte 2 da Aula de Python para PLN

Aula 3 - Introdução à Python

Tipos de Dados

In [ ]:
variavel = 14.14
print(variavel)

14.14

In [ ]:
type(variavel)

float

O Pyhton é uma linguagem de tipagem forte, ou seja, ele nao permite fazer operações se as variáveis são de tipos diferentes.

In [ ]:
v1 = "1"
v2 = 1
v1 + v2

TypeError: ignored

In [ ]:
v1 = 1
v2 = 1
v1 + v2

2

Esse espaço faz parte da indentação do Python. No caso, o print faz parte do for. Se não tiver, dá erro!

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

Listas e Tuplas
- São estruturas nativas da linguagem list e tuple;
- Informações dentro dessas estruturas podem ser de tipos diferentes, números, textos, booleanos;
- Posso acessar por fatias (slicing), quero pegar as 3 primeiros itens de uma lista de compra, por exemplo;
- Existem métodos prontos pra adicionar, remover, ordenar, procurar, contar e etc;
- Listas consigo mudar o conteúdo e são delimitadas por ];
- Tuplas não consigo mudar e são delimitadas por ).

In [ ]:
lista = []
lista = list(range(5))
lista = [0,1,2,3,4]
print(type(lista))
print(lista)

<class 'list'>
[0, 1, 2, 3, 4]

In [ ]:
lista.append(10000)
print(lista)

[0, 1, 2, 3, 4, 5, 10000]

In [ ]:
print(lista)

[6, 5, 6, 6, 6, 0, 10, 2, 3, 4, 5, 10000]

In [ ]:
lista = list(range(5))
print(lista)

[0, 1, 2, 3, 4]

In [ ]:
lista.append(10000)
print(lista)

[0, 1, 2, 3, 4, 10000]

In [ ]:
lista.insert(5,5)
print(lista)

[0, 5, 2, 3, 4, 5, 10000]

In [ ]:
lista = list(range(5))
print(lista)

[0, 1, 2, 3, 4]

In [ ]:
lista.append(10000)
print(lista)

[0, 1, 2, 3, 4, 5, 10000]

In [ ]:
lista[1] = 10
print(lista)

[0, 10, 2, 3, 4, 5, 10000]

In [ ]:
lista.insert(5,6)
print(lista)

[6, 0, 10, 2, 3, 6, 4, 5, 10000]

In [ ]:
lista.reverse()
print(lista)

[10000, 5, 4, 6, 3, 2, 10, 0, 6]

In [ ]:
lista.sort()
print(lista)

[0, 2, 3, 4, 5, 6, 6, 10, 10000]

In [ ]:
lista.count(6)

2

O index é um método que mostra a posição da primeira ocorrência.

In [ ]:
lista.index(6)

5

Slice é a fatia de uma lista, uma sub-lista. Me retorna a partir do 3º elemento até o 7º.

É útil no PLN porque um texto é uma lista de palavras então consigo manipular com facilidade.

In [ ]:
lista2 = list(range(10))
print(lista2)
print(lista2[2:7])
print(lista2[2:7:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6]
[2, 4, 6]

In [ ]:
# print("Esse é um comentário")

In [ ]:
lista3 = ["tais", "seibel", "vervloet"]
lista.sort()
print(lista3)

['tais', 'seibel', 'vervloet']

Tuplas
- São imutáveis!
- São pra tipos diferentes. Mas no Python, uma linguagem dinâmica, isso tbm aparece na lista;

In [ ]:
lista4 = [1, 'carla', 2, 'seibel', 3]

In [ ]:
t = (1, 'carla', 2, 'seibel', 3.6)
print(t)

(1, 'carla', 2, 'seibel', 3.6)

Diferença mais clássica entre lista e tuplas, não consigo alterar valores das variáveis.

- Exemplo no PLN: _Vetores de embeddings_ e _classes morfossintáticas_ onde não posso ter dados sendo alterados.

In [ ]:
t[0] = 5
print(t)

TypeError: ignored

Dicionários
- Gerenciam info por pares chave-valor;
- Arrays associativos;
-

In [ ]:
12 = [['carla', 10], ['seibel', 20], ['vervloet',30]]

In [ ]:
12[0][1]

TypeError: ignored

In [ ]:
dic = {}
dic['carla'] = 10
dic['luiza'] = 9
dic['marcia'] = 10
dic['alguém'] = 9
print(dic)

{'carla': 10, 'luiza': 9, 'marcia': 10, 'alguém': 9}

Trabalhar com dicionários torna o acesso às informações mais fácil.

In [ ]:
dic['carla']

10

Para ver quais são as informações presentes no dicionário.

In [ ]:
print(dic.keys())

dict_keys(['carla', 'luiza', 'marcia', 'alguém'])

In [ ]:
print(dic.values())

dict_values([10, 9, 10, 9])

In [ ]:
type(dic.keys())

dict_keys

As variáveis não são manipuláveis dentro de um dicionário:

In [ ]:
dic.keys()[0]

TypeError: ignored

Por isso, crio uma lista com o dicionário:

In [ ]:
list(dic.keys())[0]

'carla'

Posso criar uma lista de tuplas com os itens do dicionário:

In [ ]:
list(dic.items())

[('carla', 10), ('luiza', 9), ('marcia', 10), ('alguém', 9)]

In [ ]:
for chave, valor in dic.items():
  print(chave, "teve nota", valor)

carla teve nota 10
luiza teve nota 9
marcia teve nota 10
alguém teve nota 9

Não posso ter uma mesma chave com dois valores. Ele atualiza com o último valor.

In [ ]:
arquivo_entrada = open("/content/drive/MyDrive/arquivos_txt/corpus_teste.txt", 'r')
arquivo_lido = arquivo_entrada.read()
print(arquivo_lido)
arquivo_entrada.close()

Egípcio acabou com o clássico inglês, enquanto o português, assim como todo o time do United, foi mal
Com uma atuação monstruosa de Salah, com direito a três gols e uma assistência, e Cristiano Ronaldo apagado, o Liverpool atropelou o Manchester United por 5 a 0 neste domingo (24) em pelo Old Trafford, pela nona rodada da Premier League.

Melhores momentos
play
5:23
Salah 'destrói' United com hat-trick, e Liverpool vence por 5 a 0 em pleno Old Trafford; veja os melhores momentosO que se viu no Teatro dos Sonhos foi um domínio do Liverpool | Até o fim do domingo (24) tem Star+ Acesso Livre! Esporte AO VIVO, séries e filmes. Clique aqui e aproveite de graça toda a programação.
O clássico marcava o encontro de duas equipes que buscavam a parte de cima da tabela. O time da casa, com Solskjaer já pressionado (agora, então, em situação ainda pior), precisava da vitória para não se afastar da parte de cima. E os visitantes mirando o Chelsea, líder, e o Manchester City, o qual passaram na tabela com o triunfo.

Star+ Acesso Livre. Aproveite!

Começou! Até meia noite de domingo (24) tem Star+ Acesso Livre. Muito esporte AO VIVO, séries e filmes. Clique aqui e aproveite de graça toda a programação!

Começou! Até meia noite de domingo (24) tem Star+ Acesso Livre. Muito esporte AO VIVO, séries e filmes. Clique aqui e aproveite de graça toda a programação.

Dentro de campo, outro duelo especial. Do lado dos Red Devils, Cristiano Ronaldo, candidato à Bola de Ouro e que havia marcado seis gols em oito jogos.

Já pelos Reds, Mohamed Salah. O egípcio, que também está entre os 30 nomes selecionados ao prêmio, é outro que faz início de temporada espetacular. 12 gols em 11 jogos.

E o que se viu no Teatro dos Sonhos foi um domínio absoluto do Liverpool, com direito a vantagem de 2 a 0 construída em apenas 13 minutos.

Aos quatro minutos, o United deixou um buraco na defesa, Salah recebeu livre, serviu Keïta, que, cara a cara com De Gea, abriu o placar.

play
1:22
Gol do Liverpool! Mohamed Salah encontra Naby Keita, que tira de De Gea e faz 1 a 0 no Old Trafford
Aos 12, foi a vez de Diogo Jota marcar. Após Maguire bater cabeça com Shaw, Alexander-Arnold cruzou e o português só teve o trabalho de empurrar para as redes no segundo pau.

play
1:23
Gol do Liverpool! Maguire e Shaw batem cabeça, Alexander-Arnold cruza, e Diogo Jota faz 2 a 0 contra o UnitedJota ampliou o placar após erro duplo da defesa do Manchester | Até o fim do domingo (24) tem Star+ Acesso Livre! Esporte AO VIVO, séries e filmes. Clique aqui e aproveite de graça toda a programação.
A partir daí, começou o show de Mohamed Salah. Aos 37, o egípcio recebeu passe de Keïta pela direita e chegou completando para as redes.

play
1:26
Gol do Liverpool! Mohamed Salah recebe cruzamento de Keita, faz 3 a 0 e leva Paulo Andrade à loucura na narraçãoSalah, 'o melhor do mundo', ampliou o placar contra o United | Até o fim do domingo (24) tem Star+ Acesso Livre! Esporte AO VIVO, séries e filmes. Clique aqui e aproveite de graça toda a programação.
Aos 49, após boa troca de passes na entrada da área, Diogo Jota achou Salah pela direita. O camisa 11 chegou pegando de primeira, sem chances para De Gea, tornando a vitória uma goleada.

play
1:53
Gol do Liverpool! Mohamed Salah, livre, recebe de Diogo Jota, bate de canhota e enfia 4 a 0 no UnitedO Liverpool colocou o Manchester na roda para fazer o 4º gol | Até o fim do domingo (24) tem Star+ Acesso Livre! Esporte AO VIVO, séries e filmes. Clique aqui e aproveite de graça toda a programação.
No segundo tempo, bastaram quatro minutos para Salah chegar ao hat-trick. O camisa 11 recebeu lançamento de Henderson, tocou na saída de De Gea e fez mais um.

play
1:22
Gol do Liverpool! Henderson lança Salah, que toca de bico na saída de De Gea, completa hat-trick e faz 5 a 0Salah está on fire no Old Trafford | Até o fim do domingo (24) tem Star+ Acesso Livre! Esporte AO VIVO, séries e filmes. Clique aqui e aproveite de graça toda a programação.
Situação do campeonato
Com o resultado, o Liverpool chegou aos 21 pontos e está na vice-liderança, um ponto a menos que o Chelsea.

Já o Manchester United está em 7º, com 14, fora da zona de classificação para as competições europeias.

O cara: Mohamed Salah
Se o palco foi o Teatro dos Sonhos, o grande ator do ato foi Mohamed Salah. Com um hat-trick e uma assistência, o egípcio comandou o banho de bola que o Liverpool aplicou no Manchester United.

E foi além: com a bola na rede, Salah chegou aos 107 gols, ultrapassando Drogba, com 104, e se tornando o africano com mais gols na história da Premier League.


Mohamed Salah comemorando gol pelo Liverpool contra o Manchester United pela Premier League Alex Livesey - Danehouse/Getty Images
Cristiano Ronaldo vai mal e dá 'piti'
Se os Red Devils levaram um passeio, Cristiano Ronaldo também não foi bem. E, no fim, da etapa inicial, após Jones ficar caído no gramado, o astro português chegou dando um bico na bola, desencadeando uma pequena confusão. O craque levou cartão amarelo.

play
1:31
Cristiano Ronaldo perde a cabeça, acerta bicuda em Alexander-Arnold e leva cartão amarelo em United x LiverpoolO tempo fechou após o momento de fúria de CR7 | Até o fim do domingo (24) tem Star+ Acesso Livre! Esporte AO VIVO, séries e filmes. Clique aqui e aproveite de graça toda a programação.
Na etapa final, o gajo ainda chegou a marcar, mas estava impedido.

play
1:17
Não valeu! Cristiano Ronaldo anota golaço contra o Liverpool, mas VAR pega impedimento e anula o lanceA torcida do Liverpool foi à loucura com a anulação | Até o fim do domingo (24) tem Star+ Acesso Livre! Esporte AO VIVO, séries e filmes. Clique aqui e aproveite de graça toda a programação.
Foi mal: defesa do United
RELACIONADO

Star+ Acesso Livre por 3 dias: veja o que é e como funciona a promoção do streaming da Disney
5dESPN.com.br

Star+ Acesso Livre terá programação MÁ-GI-CA: 5 clássicos europeus, NBA, NFL, tênis e muito mais, TUDO de graça; veja a agenda
5dESPN.com.br
Se o Liverpool foi eficaz nas chances que teve, a zaga do Manchester United foi uma peneira. No primeiro gol, linhas altas, muitos buracos e espaço, que facilitaram a vida de Salah. O egípcio, com muita calma, achou Keïta, que, sozinho, marcou.

No segundo gol, Alexander-Arnold contou com Maguire e Shaw batendo cabeça. Assim, achou Diogo Jota teve facilidade para, sozinho no segundo pau, empurrar para as redes.

Pogba em 14 minutos
O francês entrou no intervalo e durou apenas 14 minutos na partida. Após entrada em Keïta, o camisa 6 recebeu vermelho direto após consulta do árbitro ao VAR.

play
2:07
Pogba joga 15 minutos e é expulso com ajuda do VAR por entrada criminosa em Keita em United x LiverpoolPogba foi para o jogo apenas no segundo tempo e logo recebeu vermelho | Até o fim do domingo (24) tem Star+ Acesso Livre! Esporte AO VIVO, séries e filmes. Clique aqui e aproveite de graça toda a programação.
Próximos jogos
O Manchester United só volta a campo no próximo final de semana, no sábado (30). Os Red Devils encaram o Tottenham, fora de casa, às 13h30, pela Premier League. A partida terá transmissão pela ESPN no Star+.

Inscreva-se no nosso canal!

Lives, conteúdos originais e o melhor da programação da ESPN! Inscreva-se no nosso canal do YouTube, ative as notificações e não perca nenhum vídeo!


Já o Liverpool, na quarta (27), às 15h45, visita o Preston North End pelas oitavas de final da Copa da Liga Inglesa.

Ficha técnica
Manchester United 0 x 5 Liverpool
GOLS: Liverpool: Keïta, Diogo Jota e Salah (3x)

MANCHESTER UNITED: De Gea; Wan-Bissaka, Lindelof, Maguire e Shaw; McTominay, Fred, Greenwood (Pogba), Bruno Fernandes (Cavani) e Rashford (Dalot); Cristiano Ronaldo. Técnico: Ole Gunnar Solskjaer

LIVERPOOL: Alisson; Alexander-Arnold, Konaté, Van Dijk e Robertson; Keïta (Oxlade-Chamberlain), Henderson e Milner (Jones); Salah, Diogo Jota e Firmino (Mané). Técnico: Jürgen Klopp

In [ ]:
arquivo_escrita = open("/content/drive/MyDrive/arquivos_txt/result.txt", 'w')
arquivo_escrita.write("Curso de PLN Aula 3")
arquivo_escrita.close()

In [ ]:
arquivo_teste = open("/content/drive/MyDrive/arquivos_txt/result.txt", 'r')
print(arquivo_teste.read())

Curso de PLN Aula 3

In [ ]:
arquivo_escrita = open("/content/drive/MyDrive/arquivos_txt/result.txt", 'a')
arquivo_escrita.write("Estudando Arquivos")
arquivo_escrita.close()

In [ ]:
arquivo_teste = open("/content/drive/MyDrive/arquivos_txt/result.txt", 'r')
print(arquivo_teste.read())

Final -  Curso de PLNEstudando Arquivos

Se eu quiser dar um write em número, ou seja, diferente de string, preciso forçar o Python num processo chamado Casting.

In [ ]:
arquivo_escrita = open("/content/drive/MyDrive/arquivos_txt/result.txt", 'a')
numero = 10
arquivo_escrita.write(numero)
arquivo_escrita.close()

TypeError: ignored

In [ ]:
arquivo_escrita = open("/content/drive/MyDrive/arquivos_txt/result.txt", 'a')
numero = 10
arquivo_escrita.write(str(numero))
arquivo_escrita.close()

In [ ]:
arquivo_teste = open("/content/drive/MyDrive/arquivos_txt/result.txt", 'r')
print(arquivo_teste.read())

Final -  Curso de PLNEstudando Arquivos10

In [ ]:
estrutura = [10,20,30,40,50]
print(estrutura[:3])

[10, 20, 30]

In [ ]:
v = "1"
q = 1
v + q

TypeError: ignored

In [ ]:
variavel = 1 + 1
variavel

2

In [ ]:
c = 'carla'
c = c + ' seibel'
c

'carla seibel'

In [ ]:
pi = 3.14
info = 'o valor de pi é ' + str(pi)
print(info)

o valor de pi é 3.14

Funções das Strings
- Ver lista de funções aqui: https://www.w3schools.com/python/python_strings.asp

In [ ]:
s = 'universidade federal do espírito santo'
len(s)
len(s.split())

5

Fazer exercícios no que estão aqui https://www.youtube.com/watch?v=RE52nPYI2WM&t=3906s de revisão mais complexa de tudo que vi até aqui e manipulação de strings.